/* global.css */
@import 'variables';

#root {
  height: 100%;
}

* {
  box-shadow: none;
  padding:0;
  margin:0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 20px solid rgba(0, 0, 0, 0.2);
  }
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $beige;
  color: $deepgreen;
  letter-spacing: 0.05em;
  width: 350px;
  height: 500px;
}

.header{
  @include flexbox-align-elements(row, space-between);
}

.page{
  @include flexbox-align-elements(column, center);
  text-align: center;
  margin: 30px 20px;
}

form{
  @include flexbox-align-elements(row, center);
  padding: 10px 0;
  & label{
    display: none;
  }
  & input + button {
    line-height: 30px;
    border-radius: 0 3px 3px 0;
    background: $deepgreen;
    color: $beige;
    border: none;
  }
  
  & input[type="text"] {
    background: $lightgreen;
    border: none;
    line-height: 30px;
    border-radius: 3px;
    font-size: 1rem;
    padding-left: 10px;
    color: $black;
    margin-right: 5px;
    padding: 3px 8px;
    width: 80%;
    max-width: 230px;
  }
  
  & input[type="text"]:last-of-type {
    margin-right: 0;
  }
  
  & input[type="text"]:focus {
    outline: none;
  }
}

.wraper-list{
  @include flexbox-align-elements(column, 0);
  height: 70vh;
  overflow-y: scroll;
  & ul {
    @include flexbox-align-elements(column-reverse, 0);
    text-align: left;
    list-style: none;
    align-items: center;
    margin: 10px 0;
  
    & li {
      @include flexbox-align-elements(row, space-between);
      width: 100%;
      max-width: 300px;
      margin: 3px 0;
      & .box{
        width: 86%;
      }
      & p {
        cursor: pointer;
        font-size: 1.4em;
        font-weight: 600;
        & span {
          font-size: 0.7em;
          font-weight: 400;
          overflow-wrap: break-word;
        }
      }
    }
  }
}


button {
  background-color: transparent;
  line-height: 22px;
  padding: 3px 8px 2px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  vertical-align: top;
  cursor: pointer;
  & i {
    color: $deepgreen;
  }
}