.swtich-container {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
  border-radius:20px;
  border:3px solid rgba(2, 137, 155, 0.050);
  & input {
    display: none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #02889B;
  -webkit-transition: .2s;
  transition: .2s;
  &:before {
    position: absolute;
    content: "";
    height: 24px; 
    width: 23px; 
    left: 0px; 
    bottom: 0.3px;
    background-color: white; 
    -webkit-transition: .2s;
    transition: .2s;
  }
}


input:checked + .slider {
  background-color: #979797;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(27px); 
  -ms-transform: translateX(27px); 
  transform: translateX(27px); 
}


/* Toggle ON - OFF */

.off {
  display: none;
}

.on,
.off {
  color: white; 
  position: absolute; 
  transform: translate(-50%, -50%);
  top: 25%;
  left: 25%;
  font-size: 9px; 
  font-family: Verdana, sans-serif; 
  top: 12px; 
}

.off {
  left: 16px;
}

.on {
  left: auto;
  right: -1px; 
}

input:checked + .slider .off {
  display: block;
}

input:checked + .slider .on {
  display: none;
}


/* Slider */

.slider {
  border-radius: 17px;
  &:before {
    border-radius: 50%;
  } 
}
